<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%= process.env.VUE_APP_M_VIEWPORT %>
    <%= process.env.VUE_APP_M_FLEX_SCRIPT %>
    <title><%= process.env.VUE_APP_PAGE %></title>
</head>
<body>
    <%= process.env.VUE_APP_SKELETON %>
    <%= process.env.VUE_APP_DEBUGGER_SCRIPT %>
    <%= process.env.VUE_APP_PAGE_DATA_SCRIPT %>
    <%= process.env.VUE_APP_ANALYTICS_SCRIPT %>
    <%= process.env.VUE_APP_WECHAT_JS_SDK_SCRIPT %>
    <div class="js-app"></div>
</body>
</html>